Django==3.0.5
djangorestframework==3.11.0
django-crispy-forms==1.9.0
django-extensions==2.2.9
psycopg2-binary==2.8.5
pytz==2019.3
requests==2.23.0
ipinfo==3.0.0
sqlparse==0.3.1
whitenoise==5.0.1
gunicorn==20.0.4
dj-database-url==0.5.0